body {
	margin: 0;
	background-color: white;
}

#div_login {
	display: inline-block;
}

#div_student, #div_staff {
	float: left;
	font-family: 'Roboto', sans-serif;
	width: 48vw;
	height: 98vh;
}

#div_student img, #div_staff img {
	/*border: 0.4vw solid black;*/
	border-radius: 50%;
	width: 15vw;
	height: auto;
}

#div_student img {
	margin: 22vh auto auto 26vw;
}

#div_staff img {
	margin: 22vh auto auto 6vw;
}

#p_student, #p_staff {
	font-size: 3vw;
	text-align: center;
	text-decoration: none;
	color: black;
}

a {
	text-decoration: none;
}

#p_student {
	margin: 1vh auto auto 19vw;
}

#p_staff {
	margin: 1vh auto auto -21vw;
}

#select_staff {
	width: 15vw;
	height: 3vw;
	background-color: white;
	color: #3f5efb;
	margin: 0 auto auto 3.8vw;
	padding: 0;
	font-size: 20px;
	border: 2px solid #3f5efb;
	border-radius: 8px;
}

#select_staff option {
	padding: 0.5;
}

#button_staff {
	width: auto;
	height: 3vw;
	margin: 0;
	padding: 0;
	font-size: 20px;
	background-color: white;
	color: #3f5efb;
	border: 2px solid #3f5efb;
	border-radius: 8px;
}
.staffDiv{
	padding: 0;
	margin-top: 1vh;
}

#button_staff:hover {
	background-color: #3f5efb;
	color: white; 
	cursor: pointer;
}

.span_math {
	color: red;
}
@media screen and (max-width: 800px){
	#div_student img {
		margin: 22vh auto auto 21vw;
		width: 25vw;
	}
	#div_staff img {
		margin: 22vh auto auto 1vw;
		width: 25vw;
	}
	#select_staff{
		font-size: 10px;
	}
	#button_staff{
		font-size: 10px;
	}
}
@media screen and (max-width: 450px){
	#div_student img {
		margin: 22vh auto auto 21vw;
		width: 25vw;
	}
	#div_staff img {
		margin: 22vh auto auto 1vw;
		width: 25vw;
	}
	#select_staff{
		font-size: 16px;
		width: 25vw;
		height: 4vh;
	}
	#button_staff{
		font-size: 16px;
		width: 15vw;
		height: 4vh;
	}
	#p_student, #p_staff {
		font-size: 16px;
	}
}